html,
body {
  margin:0;
}

.wrapper {
  width: 65%;
  letter-spacing: 4px;
 /* margin: 10px; auto;*/
}

/*img {
  max-width:100%;
}*/

* { box-sizing: border-box; }

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/* ---- grid ---- */

.grid {
  background: black;
  width:100vw;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  box-sizing:border-box;
  /*float: left;*/
  width: 100px;
  height: 100px;
  background: white;
  overflow:hidden;
}

.grid-item--width2 { width: 200px; }

.grid-item--height2 { 
  height: 200px; 
  max-width:200px!important;
  max-height:200px;
}



/******* NAVIGATION *******/

.iso-nav {
  text-align:justify;
  text-align-last:right;
}

ul  li {
  list-style:none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding:10px 15px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

ul li:hover {
  background: #000;
  color: #fff;

}

/********* woop ********/

/*.main-iso {
  width: 100%;
}

/*.main-iso .item{
  width: 300px;
  float: left;
}

.item img {
  width: 80%;
  height: auto;
}*/

.active {
  background: #000;
  color: #FFF;

}

.write-up {
  padding: 55px;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  line-height: 18px;
  background: white;
  color: black;
  width: 55%;
}

.writing {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 39px;
  width: 100vw;
  padding: 20px;
}

.extra {
  font-family: 'Roboto Mono', monospace;
  font-size: 35pt;
  color: black;
  position: fixed;
  margin: 0pt;
  top: 108pt;
  left: 540pt;
}

.extra-1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 7pt;
  color: black;
  position: fixed;
  margin: 0pt;
  top: 120pt;
  left: 790pt;
}