@font-face {
	font-family: Helvetica Neue LT Std;
}

#mydiv {
  position: fixed;
  top: 105px;
  left: 732px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-2 {
  position: fixed;
  top: 66px;
  left: 250px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-3 {
  position: fixed;
  top: 105px;
  left: 732px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-4 {
  position: fixed;
  top: 66px;
  left: 250px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-5 {
  position: fixed;
  top: 105px;
  left: 732px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-6 {
  position: fixed;
  top: 66px;
  left: 250px;
  z-index: 60;
  background-color: #f1f1f1;
}

#mydiv-7 {
  position: fixed;
  top: 66px;
  left: 250px;
  z-index: 60;
  background-color: #f1f1f1;
}

.sidecorner-1{
	position: fixed;
	bottom: 159px;
	left: 692px;
	width: 16px;
	height: 48px;
	background: black;
}

.sidecorner-2{
	position: fixed;
	bottom: 159px;
	left: 660px;
	width: 48px;
	height: 16px;
	background: black;
}

.sidecorner-3{
	position: fixed;
	bottom: 584px;
	left: 692px;
	width: 16px;
	height: 48px;
	background: black;
}

.sidecorner-4{
	position: fixed;
	bottom: 616px;
	left: 692px;
	width: 48px;
	height: 16px;
	background: black;
}

body {
	/* background: grey; */
	position: absolute;
}


a:link,
a:visited,
a:active {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#000;
	text-decoration:overline;
}

/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*.all-rectangulars{
	width: 100px;
	height: 20px;
	background: black;
	position: fixed;
}

.rectangular-piece{
	 width: 650px;
     height: 20px;
     background: black;
     left: 350px;
     top: 85px;
     position: fixed;
}*/

.thoughts {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 9pt;
	letter-spacing: 2pt;
	line-height: 17pt;
	background: white;
	width: 190pt;
	text-align: left;
	z-index: 1;
	position: relative;
	top: 600pt;
}

.main {
	font-family: 'Roboto', sans-serif;
	font-size: 70pt;
	font-weight: bold;
	letter-spacing: 5pt;
	color: black;
	width: 30pt;
	position: fixed;
	margin: 0pt;
	top: 36pt;
	z-index: 100;
}

.main-2 {
	font-family: Helvetica Neue LT Std;
	font-size: 9pt;
	font-weight: bolder;
	color: black;
	width: 30pt;
	position: fixed;
	margin: 0pt;
	top: 36pt;
	left: 1125px;
	z-index: 80;
}

.side-detail {
	font-family: 'Roboto', sans-serif;
	font-size: 6pt;
	font-weight: normal;
	letter-spacing: 5pt;
	color: black;
	position: fixed;
	margin: 0pt;
	top: 452pt;
	left: 96pt;
	z-index: 1;
}

.top-detail {
	font-family: 'Roboto', sans-serif;
	font-size: 6pt;
	font-weight: normal;
	letter-spacing: 5pt;
	color: black;
	position: absolute;
	margin: 0pt;
	top: 27pt;
	left: 329pt;
	z-index: 1;
}








/*
.series-title {
	font-family: Helvetica Neue LT Std;
	font-size: 22pt;
	line-height: 62pt;
	font-weight: bold;
	font-style: italic; 
	text-align: right;
	width: 495pt;
	position: fixed;
	top: 150pt;
	left: 12pt;
	letter-spacing: 5pt;
}

.all-events {
	margin-left: 685px;
	margin-top: -825px;
}

.event {
	font-family: helvetica;
	font-size: 14pt;
	position: relative;
	left: 505pt;
	bottom: 600pt;
}

.date{
	font-style: italic;
	letter-spacing: 10pt;
	font-weight: bold;
	line-height: 28pt;
	position: -webkit-sticky;
    position: sticky;
}

.name, .event-title{
	letter-spacing: 3pt;
	font-size: 8pt;
	line-height: 13pt;
	width: 170px;
}*/