body {
 	background: white;
 	font-family: ;
 	font-size: ;
 	font-style: ;
 	margin: 1em;
}

h1 {
	font-family: helvetica;
	font-size: 7em;
	line-height: 120px;
	margin: 0px;
	letter-spacing: 1px;
}

h2 {
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	margin: 0px;
	padding: 5px;
}

p , ol, li, h3, h4 {
	font-family: arial;
	font-size: 16px;
	text-align: justify;
	letter-spacing: 1px;
}