body {
	background: black;
	position: absolute;
}

.write-up{
	font-family: helvetica;
	font-size: 10pt;
	letter-spacing: 2pt;
	line-height: 18pt;
	background: white;
	width: 275pt;
	text-align: right;
	margin: 30pt;
}

.organization-title {
	font-family: helvetica;
	font-size: 60pt;
	font-weight: bold;
	color: gold;
	background: lightyellow;
	width: 30pt;
	position: fixed;
	margin: 0pt;
	top: 36pt;
}

.series-title {
	font-family: helvetica;
	font-size: 22pt;
	line-height: 62pt;
	font-weight: bold;
	font-style: italic; 
	text-align: right;
	width: 495pt;
	position: fixed;
	top: 150pt;
	left: 12pt;
	letter-spacing: 5pt;
}

.event {
	font-family: helvetica;
	font-size: 11pt;
	color: grey;
	position: relative;
	left: 315pt;
	bottom: 200pt;

}

.date{
	color: grey;
	font-style: italic;
	letter-spacing: 10pt;
}

.name, .event-title{
	letter-spacing: 3pt;
	font-size: 8pt;
	line-height: 12pt;
	color: grey;
}