body {
	/* background: grey; */
	position: absolute;
}


a:link,
a:visited,
a:active {
	color:red;
	text-decoration:none;
}

a:hover {
	color:#000;
	text-decoration:overline;
}

/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*.all-rectangulars{
	width: 100px;
	height: 20px;
	background: black;
	position: fixed;
}

.rectangular-piece{
	 width: 650px;
     height: 20px;
     background: black;
     left: 350px;
     top: 85px;
     position: fixed;
}*/

.write-up {
	font-family: helvetica;
	font-size: 10pt;
	letter-spacing: 2pt;
	line-height: 18pt;
	background: white;
	width: 175pt;
	text-align: right;
	margin: 30pt;
}

.organization-title {
	font-family: helvetica;
	font-size: 60pt;
	font-weight: bold;
	background: white;
	color: black;
	width: 30pt;
	position: fixed;
	margin: 0pt;
	top: 36pt;
}

.series-title {
	font-family: helvetica;
	font-size: 22pt;
	line-height: 62pt;
	font-weight: bold;
	font-style: italic; 
	text-align: right;
	width: 495pt;
	position: fixed;
	top: 150pt;
	left: 12pt;
	letter-spacing: 5pt;
}

.all-events {
	margin-left: 685px;
	margin-top: -825px;
}

.event {
	font-family: helvetica;
	font-size: 14pt;
	/*position: relative;
	left: 505pt;
	bottom: 600pt;*/
}

.date{
	font-style: italic;
	letter-spacing: 10pt;
	font-weight: bold;
	line-height: 28pt;
	position: -webkit-sticky;
    position: sticky;
}

.name, .event-title{
	letter-spacing: 3pt;
	font-size: 8pt;
	line-height: 13pt;
	width: 170px;
}